*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #fff;
  color: #191919;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1.title {
  background-color: #191919;
  color: #fff;
  margin: 0;
  line-height: 80px;
  height: 80px;
}

#movie_list div {
  background-color: #e9e9e9;
  padding: 10px;
  margin: 0.5%;
  float: left;
  border: 1px solid rgba(0,0,0,0.1);
  width: 24%;
  height: 560px;
}
#movie_list div:hover {
  background-color: rgb(108, 204, 51);
  color: #fff;
}

#movie_list:after {
  content: "";
  display: table;
  clear: both;
}

.rating:not(:checked) {
  margin: 0 auto;
  width: 190px;
}
/*hide the input circles*/
.rating:not(:checked) > input {
  display: none;
}

/*Add Star for browsers that support :checked*/
.rating:not(:checked) > label:before {
  content: '\2605     ';
}

.rating:not(:checked) > label {
  /*Floating right will put star5 at the end and start1 first*/
  float:right;
  /*Only show the star*/
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;

  /*Style the star*/
  cursor:pointer;
  font-size:2em;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

/*Take checked input and add this css to its label and labels after it. If star5 is selected then style all labels, if star4 then style labels for star1 to star4, etc.*/
.rating > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

/*Make stars gold when hovered over*/
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}