// -------------------------------------------
// VARIABLES
// -------------------------------------------

// Colours 
// -------------------------------------------
$gray-dark:  	#333;
$gray: 			#666;
$gray-light: 	#eee;
$magenta:   	#cc0066;

// Typography
// -------------------------------------------
$sans-serif: 	helvetica, arial, sans-serif;
$serif: 		georgia, garamond, serif;

$font-size-small: 	0.8rem;
$font-size-base:  	1rem;
$font-size-large: 	1.2rem;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;


// -------------------------------------------
// IMPORTING PARTIALS
// -------------------------------------------
@import "mixins";


// -------------------------------------------
// GLOBAL STYLES
// -------------------------------------------
body {
	margin: 0;
	padding: 0;
	font-size: $font-size-base;
	font-family: $sans-serif;
}
h1, h2, h3, h4 {
	font-family: $serif;
}
p {
	color: $gray-dark;
}
a {
	color: $magenta;
}
.wrapper {
	max-width: 1140px;
}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }


// -------------------------------------------
// HEADER
// -------------------------------------------


// -------------------------------------------
// FOOTER
// -------------------------------------------



// -------------------------------------------
// HOME 
// -------------------------------------------




// -------------------------------------------
// ABOUT
// -------------------------------------------



// -------------------------------------------
// CONTACT
// -------------------------------------------

