body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: helvetica, arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: georgia, garamond, serif;
}

p {
  color: #333333;
}

a {
  color: #cc0066;
}

.wrapper {
  max-width: 1140px;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.icons {
  padding-bottom: 5%;
}
.icons a {
  text-indent: 5000px;
  display: inline-block;
}

.icons {
  background: top left no-repeat;
  width: 32px;
  height: 32px;
  float: left;
}
.icons:hover {
  background-image: 0 -32px;
}

.twitter {
  background-image: url(images/icon-twitter-32x32.png);
}

.facebook {
  background-image: url(images/icon-facebook-32x32.png);
}

.email {
  background-image: url(images/icon-email-32x32.png);
}

.rss {
  background-image: url(images/icon-rss-32x32.png);
}
