<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/github.css">
  <link rel="stylesheet" href="/assets/css/notes.css">
  <link rel="stylesheet" href="/assets/css/highlight-github.css">
</head>
<body>
{% if page.layout == 'curriculum' %}
<header>
  <div class="wrapper">
    <img src="/assets/logo-hackeryou.png">
    <h1>FullTime Bootcamp</h1>
  </div>
</header>
{% endif %}

{% if page.layout == 'notes' or page.layout == 'exercises'%}
<div class="back-link">
  <a href="/" class="toc">&#9664; Table of Contents</a>
</div>
{% endif %}