<!DOCTYPE html>  
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/github.css">
  <link rel="stylesheet" href="/assets/notes.css">
</head>
<body>
<header>
  <div class="wrapper"> 
    <img src="/assets/logo-hackeryou.png">
    <h1>FullTime Bootcamp</h1>
    {% if page.layout == 'notes' or page.layout == 'exercises'%}
    <a href="/" class="toc">&#9664; Table of Contents</a>
    {% endif %}
  </div>
</header>