<!DOCTYPE html>
<!-- add the ng-app attribute on the HTML tag to tell angular that our page is an angular app -->
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Angular JS bookstore</title>
  <link rel="stylesheet" href="style.css">
  <!-- load in angular.js from a CDN -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <!-- load in our app.js file -->
  <script src="js/app-answer.js"></script>

</head>
<body>
  <div class="banner">
    <div class="container">
      <h1>Angular.JS Bookstore</h1>
    </div>
  </div>
  <!-- tell Angular this section of our template is controlled by MyController -->
  <div class="container" ng-controller="MyController">
    <div class="product" >
      <div class="product-desc">
        <h2>Pro Angular JS</h2>
        <p>by <strong>Adam Freeman</strong></p>
        <p>$34.99</p>
        <p class="order-qty">
          <label for="qty">Quantity
            <!-- use the ng-model attribute to have angular track your input field -->
            <input ng-model="qty"  type="number" name="qty" class="qty">
          </label>
        </p>

        <p class="bonus">
          <label for="bonus">Send me a free AngularJS magazine
            <!-- use ng-model again to track the checkbox state -->
            <input type="checkbox" ng-model="bonus" name="bonus">
          </label>
        </p>
      </div>
      <div class="product-img">
        <img src="img/angular-book.jpeg" alt="">
      </div>
    </div>
    <div class="order">
      <h3>Your Order Summary</h3>
      <div class="summary">
        <!-- use a {{}} binding to link the quantity to the modeled input  -->
        <p><strong>Pro Angular JS:</strong><span>{{qty}} @ $34.99</span></p>

        <!-- use ng-show as a toggle, based on the checkbox we ng-model'ed above -->
        <p ng-show="bonus"><strong>AngularJS Magazine</strong><span>FREE</span></p>

        <!-- {{}} bindings can also evaluate expressions like multiplication -->
        <p><strong>Sub-total:</strong><span>${{qty * 34.99}}</span></p>

        <!-- use a similar expression to calculate the tax -->
        <!-- we can also add filter that rounds the number off to two decimal places by including | currency after our expression, note that it even adds a dollar sign for you! -->
        <p><strong>HST:</strong><span>{{qty * 34.99 * 0.13 | currency}}</span></p>
        <hr>
        <!-- try doing the same for the total! -->
        <p><strong>TOTAL:</strong><span>{{qty * 34.99 * 1.13  | currency}}</span></p>
      </div>
    </div>
  </div>
</body>
</html>