//MIXINS

// mixin example with no variables
// -------------------------------
@mixin large-font {
	font-family: $sans-serif;
	font-size: $font-size-large;
	color: $gray-dark;
}


// mixins examples with variables
//-----------------------------------------
@mixin box-rotate($degrees) {
  -webkit-transform: rotate($degrees);  // Chrome, Opera 15+, Safari 3.1+ 
      -ms-transform: rotate($degrees);  // IE 9 
          transform: rotate($degrees);  // Firefox 16+, IE 10+, Opera 
}

//Sass documentation: http://sass-lang.com/
//Also check out Compass for extras: http://compass-style.org/