// -------------------------------------------
// VARIABLES
// -------------------------------------------

// Colours 
// -------------------------------------------
$gray-dark:  	#333;
$gray: 			#666;
$gray-light: 	#eee;
$magenta:   	#cc0066;

// Typography
// -------------------------------------------
$sans-serif: 	helvetica, arial, sans-serif;
$serif: 		georgia, garamond, serif;

$font-size-small: 	0.8rem;
$font-size-base:  	1rem;
$font-size-large: 	1.6rem;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;


// -------------------------------------------
// IMPORTING PARTIALS
// -------------------------------------------
@import "mixins";



// Global
// -------------------------------------------
body {
	margin: 0;
	padding: 0;
	font-size: $font-size-base;
	font-family: $sans-serif;
}
h1, h2, h3, h4 {
	font-family: $serif;
}
h1 {
	@include large-font;
}
p {
	color: $gray-dark;
}
a {
	color: $magenta;
}
.wrapper {
	max-width: 1140px;
}

// must be added to the html for this class to work
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }



// Header
// -------------------------------------------
header {

}



// Main content
// -------------------------------------------




// Sidebar content
// -------------------------------------------




// Footer
// -------------------------------------------
footer {

}

