// -------------------------------------------
// VARIABLES
// -------------------------------------------

// Colours 
// -------------------------------------------
$gray-dark:  	#333;
$gray: 			#666;
$gray-light: 	#eee;
$magenta:   	#cc0066;

// Typography
// -------------------------------------------
$sans-serif: 	helvetica, arial, sans-serif;
$serif: 		georgia, garamond, serif;

$font-size-small: 	0.8rem;
$font-size-base:  	1rem;
$font-size-large: 	1.2rem;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;


// -------------------------------------------
// IMPORTING PARTIALS
// -------------------------------------------
@import "mixins";



// Global
// -------------------------------------------
body {
	margin: 0;
	padding: 0;
	font-size: $font-size-base;
	font-family: $sans-serif;
}
h1, h2, h3, h4 {
	font-family: $serif;
}
h1 {
	
}
p {
	color: $gray-dark;
}
a {
	color: $magenta;
}
.wrapper {
	max-width: 1140px;
}

// Added clearfix class here for adding it to the HTML
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }



// Header
// -------------------------------------------
header {

}


// Footer
// -------------------------------------------
footer {

}


// To refactor example
// -------------------------------------------
.icons{
 	padding-bottom: 5%;
	
	a {
	 	text-indent: 5000px;
	 	display: inline-block;

	 	&:hover {

	 	}
	}	
}


 .icons {
 	background: top left no-repeat;
 	width: 32px;
 	height: 32px;
 	float: left;

 	&:hover {
 		background-image: 0 -32px;
 	}
 }
 .twitter{
 	background-image: url(images/icon-twitter-32x32.png);
 }
 .facebook{
 	background-image: url(images/icon-facebook-32x32.png);
 }
 .email{
 	background-image: url(images/icon-email-32x32.png);
 }
.rss{
 	background-image: url(images/icon-rss-32x32.png);
}



