{% include header.html %}
<div class="wrapper">
	<h2>Curriculum</h2>
	{% for topic in site.data.topic-list %}
		{% assign topicNumber = forloop.index %}
		<h4>{{topicNumber}}. {{topic.name}}</h4>
		<ul>
			{% assign count = '0' %}
			{% for page in site.pages | sort:"path"%}
				{% if page.layout == 'notes' and page.topic == topic.slug %}
					{% capture count %}{{ count | plus: '1' }}{% endcapture %}
					<li><a href="{{page.url}}">{{topicNumber}}.{{count}} {{page.title}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}

	<h2>Exercises and Examples</h2>
	Most exercises are linked within your notes, but you can also view a full catalogue <a href="exercises.html">here</a>.

	<h2>Weekly Projects</h2>

	{% for page in site.pages %}
		{% if page.layout == 'project' %}
			<p><a href="{{page.url}}">{{page.title}}</a></p>
		{% endif %}
	{% endfor %}
</div>
